* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Poppins Georgia, "Times New Roman", Times, serif;
  /* background-color: rgb(203, 255, 255); */
}
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .cardShadow {
    backdrop-filter: blur(0px) saturate(180%);
    -webkit-backdrop-filter: blur(0px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.37);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
  }
  .cardShadow:hover {
    background-color: hsla(0, 0%, 100%, 0.7);
    border: 5px solid #fff;
    /* opacity: ; */
  }
}
